<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Upwork Demo</h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Implement Mask
      dd/MM/yyyy Date Format in TextBox using JavaScript</p>

  </div>
</section>

<div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 mt-10">
  <div class="sm:col-span-4">
    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
    <div class="mt-2">
      <form [formGroup]="form">
        <div
          class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
          <input type="text" name="date" id="date" formControlName="date"
            class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="mt-10">
          <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Format</label>
          {{ formattedDate }}

          <div *ngIf="form.get('date')?.errors">
            <span class="text-red-500">Invalid date</span>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>